// || General

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
  font-weight: 400;
}

body {
  font-family: "Chivo", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;

  // background image
  background-image: url("./assets/images/mobile-background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  // mixed with the color
  background-color: #121725;

  @media screen and (min-width: 768px) {
    background-image: url("./assets/images/tablet-background.png");
    background-size: 491px 767px;
    background-position: top right;
  }

  @media screen and (min-width: 1024px) {
    background-image: url("./assets/images/desktop-background.png");
    background-size: 60%;
    background-position: top 60px right;
  }

  @media screen and (min-width: 1200px) {
    background-image: url("./assets/images/desktop-background.png");
    background-size: 888px 640px;
    background-position: top 130px right;
  }
}

.white {
  color: #ffffff;
}

.d-n {
  display: none;
}

// || Header

.header {
  margin-top: 62px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin-top: 50px;
    margin-left: 39px;
    justify-content: start;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 38px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 102px;
    margin-left: 165px;
  }
}

// Content

.content {
  padding: 0px 24px;

  margin: 0 auto;
  margin-top: 57px;

  max-width: 375px;

  @media screen and (min-width: 768px) {
    background: #121725;
    max-width: 635px;

    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
    margin-top: 152px;
    margin-left: 39px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 103px;
    margin-left: 165px;
    max-width: 723px;
  }
}

h1 {
  font-size: 2.6rem;
  line-height: 3.8rem;
  color: #54e6af;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    padding-top: 91px;
    text-align: left;
    font-size: 4.8rem;
    line-height: 5.6rem;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 88px;
    font-size: 5.2rem;
    line-height: 6.2rem;
  }
}

h1 span {
  display: block;
}

.content__text__p {
  color: #c2cbe5;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;

  margin-top: 16px;

  @media screen and (min-width: 768px) {
    text-align: left;
    margin-top: 31px;
    max-width: 445px;

    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 2.4rem;
  }
}

.content__sponsors {
  margin-top: 33px;
  @media screen and (min-width: 768px) {
    order: 2;
    margin-top: 64px;
  }
}

.content__sponsors .d-m {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.content__sponsors .d-d {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
  }
}

.content__sponsors img {
  max-width: 100%;
}

.content__form {
  margin-top: 48px;

  @media screen and (min-width: 768px) {
    position: relative;
    margin-top: 40px;
    width: 427px;
  }
}

.content__input-box {
  position: relative;
}

.content__form input {
  width: 100%;
  height: 46px;
  background-color: #2c344b;
  border-radius: 28px;
  border: none;

  padding: 0px 32px;

  color: #ffffff;
  font-size: 1.4rem;
  line-height: 2.8rem;

  @media screen and (min-width: 768px) {
    height: 56px;

    padding-right: 194px;
  }
}

// When input active
.content__form input:focus {
  outline: none;
}

.content__form label {
  position: absolute;
  top: 50%;
  left: 32px;

  transform: translateY(-50%);

  opacity: 0;

  color: #ffffff;
  font-size: 1.4rem;
  line-height: 2.8rem;

  transition: opacity 0.4s;
}

// hide label when input focused

.content__form input[value=""] + label {
  opacity: 0.5;
}

.content__form-btn {
  background: #54e6af;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
  border: none;
  border-radius: 28px;

  height: 46px;
  width: 100%;

  margin-top: 16px;

  color: #121725;
  font-size: 1.4rem;
  line-height: 2.8rem;

  cursor: pointer;

  transition: background-color 0.4s;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 5px;
    right: 5px;

    margin-top: 0px;

    width: 162px;
  }
}

.content__form-btn:active {
  background: #b3ffe2;
}

.content__form-error {
  font-size: 1.2rem;
  line-height: 1.4rem;

  color: #fb3e3e;
  margin-top: 8px;
  margin-left: 32px;
}

// design: pattern points image

.design__pattern-points {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-top: 153px;
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: -52px;
    margin-left: auto;
    padding-bottom: 78px;
  }
}
